<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions = "false"
      internalLogLevel="Off"
      internalLogFile="./logs/nlog-internal.log">

  <variable name="logsDirectory" value="logs" />
  <variable name="consoleLayout" value="${longdate}|${level:uppercase=true}|${message:exceptionSeparator=|:withException=true}" />
  <variable name="recordLayout" value= "${longdate}|${level:uppercase=true}|${logger}|${message:exceptionSeparator=|:withException=true}" />

  <targets async="true">
    <target xsi:type="ColoredConsole"
				name="ConsoleTarget"
				layout="${consoleLayout}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkYellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target xsi:type="File"
           encoding="utf-8"
           writeBom="true"
           name="RecordFile"
            keepFileOpen ="true"
            autoFlush="false"
            openFileFlushTimeout ="30"
           fileName="${logsDirectory}/record.log"
           layout="${recordLayout}"
           archiveFileName="${logsDirectory}/archives/record.{#}.log"
          archiveNumbering="Date"
          archiveEvery ="Day"
          maxArchiveDays ="30"/>
    <target xsi:type="File"
          encoding="utf-8"
          writeBom="true"
          name="TraceFile"
           keepFileOpen ="true"
           autoFlush="false"
           openFileFlushTimeout ="30"
          fileName="${logsDirectory}/trace.log"
          layout="${recordLayout}"
          archiveFileName="${logsDirectory}/archives/trace.{#}.log"
         archiveNumbering="Date"
         archiveEvery ="Day"
         maxArchiveDays ="30"/>
    <target xsi:type="File"
       encoding="utf-8"
       writeBom="true"
       name="SdkFile"
        keepFileOpen ="true"
        autoFlush="false"
        openFileFlushTimeout ="30"
       fileName="${logsDirectory}/sdk.log"
       layout="${recordLayout}"
       archiveFileName="${logsDirectory}/archives/sdk.{#}.log"
      archiveNumbering="Date"
      archiveEvery ="Day"
      maxArchiveDays ="30"/>
  </targets>
  <rules>
    <logger name="Hanson.*" minlevel="Trace" maxlevel="Fatal" writeTo="SdkFile" final ="true" enabled ="true" />
     <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="RecordFile" />
    <logger name="*" level="Trace"  writeTo="TraceFile" />
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="ConsoleTarget" />
  </rules>
</nlog>